@import 'tailwindcss';

:root {
  --bg: #272433;
  --primary: #5d5697;
  --text: #eeeeee;
  --card-bg: #403d5b;
  --card-bg-dark: #262340;
  --font-base:
    'Saira', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --container-max-width: 1120px;
  --container-max-height: 1120px;
  --navbar-accent: #94b6ff;
  --hero-title-accent: #b1acdf;
  --misc: #767391;
}

html,
body {
  height: 100%;
  font-family: var(--font-base);
}

.page-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
  color: var(--text);
}

.container {
  width: 100%;
  max-width: var(--container-max-width);
  max-height: var(--container-max-height);
}
