@import 'tailwindcss';

:root {
  --bg: #272433;
  --primary: #5d5697;
  --text: #eeeeee;
  --card-bg: #403d5b;
  --font-base:
    'Saira', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
  height: 100%;
  font-family: var(--font-base);
}

#app {
  height: 100vh;
  background-color: var(--bg);
  color: var(--text);
}
